# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Streamlit
.streamlit/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Environment Variables
.env

# Logs
*.log

# Database
*.db